@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.css';

/* globals.css */

:root {
  --font-titillium-web: 'Titillium Web', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  flex-shrink: 0;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 3s forwards;
}

.slide-out {
  animation: slideOut 3s forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing {
  animation: typing 3s steps(40, end);
  border-right: 0.15em solid white;
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 0.2em; /* Add padding at the bottom */
}